doctype
html
  head
    meta(charse="UTF-8")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
  body
      .action
      script(type="text/x-handlebars-template" id="index")
